.ant-page-header-heading-title {
  font-size: 40px;
  color: red;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active {
  color: black;
  border-bottom: 2px solid red;
  border-top: 2px solid black

}
